.separator {
  position: relative;
  width: 70%;
  height: 30px;
  margin: 3em auto;
  border: none;
}

.separator::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 1px;
  background: var(--dark-200);
}

.separator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: var(--background-color) url(./katana.svg) no-repeat center;
  z-index: 2;
}
