{% macro list(posts) %}
<ol class="posts-list">
  {% for post in posts %}
  <li class="post-item">
    <span class="post-item__date">{{ post.data.date | dateAndMonth }}</span>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ol>
{% endmacro %}
