{% macro list(posts) %}
<ol class="posts-list">
  {% for post in posts %}
  <li class="post-item{{ " post-item_favorite" if post.data.is_favorite }}">
    <span class="post-date">{{ post.data.date | date }}</span>
    <div class="post-item__title">
      {% if post.data.is_favorite %}
        {% star %}
      {% endif %}
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </div>
    <ul class="tags-list">
      {% for tag in post.data.tags %}
        {% if tag !== 'note' and tag !== 'archive' %}
          <li class="tag-item">
            <a href="/tags/{{ tag }}/">{{ tag }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ol>
{% endmacro %}
