.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: auto;
  max-width: 100%;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .menu {
    margin: 0 -0.5em;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    margin: 0;
  }
}
