<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ "/css/common.css" }}" />
    {% block custom_head %}
    {% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page">
      <div>
        <header class="header container page__header">
          <a class="header__name" href="/">
            Максим Павлов
            <span class="header__profession">&mdash;&nbsp;senior frontend engineer</span>
          </a>
          <div class="header__menu">
            <nav class="menu">
              <a class="menu__item{{ " menu__item_selected" if '/notes/' in page.url }}" href="/notes/{{ collections.notesByYear | objectKeys | first }}/">Заметки</a>
              <a class="menu__item{{ " menu__item_selected" if '/tags/' in page.url }}" href="/tags/">Теги</a>
              <a class="menu__item{{ " menu__item_selected" if '/projects/' in page.url }}" href="/projects/">Проекты</a>
            </nav>
          </div>
        </header>
        <main class="container page__content">
          {% block content %}
            {% if page.url !== '/' %}
              <h1>{{ title }}</h1>
            {% endif %}
            {{ content | safe }}
          {% endblock content %}
        </main>
      </div>
      <footer class="footer container page__footer">
        <div class="menu">
          <a href="mailto:me@maximpavlov.su">Электропочта</a>
          <a href="https://t.me/ifelseapps">Телеграмм</a>
          <a href="https://t.me/ifelseapps_blog">Канал</a>
          <a href="https://github.com/ifelseapps">Github</a>
        </div>
        <p class="footer__copyright">&copy;&nbsp;2014+ Максим Павлов</p>
      </footer>
    </div>
  </body>
</html>
