<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ "/css/common.css" }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">

    {% if settings.mode == 'production' %}
      <!-- Yandex.Metrika counter -->
      <script>
        (function(m, e, t, r, i, k, a) {
          m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
          };
          m[i].l = 1 * new Date();
          k = e.createElement(t),
          a = e.getElementsByTagName(t)[0],
          k.async = 1,
          k.src = r,
          a.parentNode.insertBefore(k, a)
        })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(48619130, "init", {
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      </script>
      <!-- /Yandex.Metrika counter -->
    {% endif %}

    <meta name="yandex-verification" content="f0a9b20bf63b8b9f" />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://maximpavlov.su/rss.xml">

    {% block custom_head %}
    {% endblock %}
    <title>{{ title }} :: Максим Павлов, senior frontend engineer</title>

    <meta property="og:site_name" content="Максим Павлов — senior frontend engineer"/>
    <meta property="og:title" content="{{ title }} :: Максим Павлов, senior frontend engineer">

    {% if description %}
      <meta name="description" content="{{ description }}">
      <meta property="og:description" content="{{ description }}"/>
    {% endif %}

    {% if keywords %}
      <meta name="keywords" content="{{ keywords }}">
    {% endif %}

    <meta property="og:url" content="https://maximpavlov.su{{ page.url }}"/>

    <meta property="og:image" content="https://v1.screenshot.11ty.dev/{{ 'https://maximpavlov.su' | urlencode }}{{ page.url | urlencode }}/opengraph/"/>
    <meta property="og:image:width" content="1200"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@ifelseapps"/>
  </head>
  <body>
    <div class="page">
      <div>
        {% set mod = '' %}
        {% if headerMod %}
          {% set mod = [' ', headerMod] | join %}
        {% endif %}
        <header class="header page__header{{ mod }}">
          <div class="container header__inner">
            <a class="header__name" href="/">
              Максим Павлов
            </a>
            <div class="header__menu">
              <nav class="menu">
                <a class="menu__item{{ " menu__item_selected" if '/about/' in page.url }}" href="/about/">Обо мне</a>
                <a class="menu__item menu__item_frontend{{ " menu__item_selected" if '/frontend/' in page.url }}" href="/frontend/">Frontend-разработка</a>
                <a class="menu__item{{ " menu__item_selected" if '/notes/' in page.url }}" href="/notes/">Заметки</a>
                <a class="menu__item{{ " menu__item_selected" if '/tags/' in page.url }}" href="/tags/">Теги</a>
                <a class="menu__item{{ " menu__item_selected" if '/archive/' in page.url }}" href="/archive/">Архив</a>
              </nav>
            </div>
            {% block header_intro %}
            {% endblock header_intro %}
          </div>
        </header>
        <main class="container page__content">
          {% block content %}
            {% if not hide_h1 %}
              <h1>{{ title }}</h1>
            {% endif %}
            {{ content | safe }}
          {% endblock content %}
        </main>
      </div>
      <footer class="container page__footer">
        <div class="footer">
          <div class="menu">
            <a href="mailto:ifelseapps@gmail.com">Электропочта</a>
            <a href="/rss.xml">Rss</a>
            <a href="https://t.me/ifelseapps">Телеграмм</a>
            <a href="https://github.com/ifelseapps">Github</a>
          </div>
          <p class="footer__copyright">&copy;&nbsp;2014+ Максим Павлов</p>
        </div>
      </footer>
    </div>
  </body>
</html>
