<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ "/css/common.css" }}" />
    {% block custom_head %}
    {% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page">
      <div>
        <header class="header container page__header">
          <a class="header__name" href="/">Максим Павлов</a>
          <nav class="menu header__menu">
            <a href="#">Заметки</a>
            <a href="#">Путешествую</a>
            <a href="#">Теги</a>
            <a href="#">Проекты</a>
          </nav>
        </header>
        <main class="container page__content">
          {{ content | safe }}
        </main>
      </div>
      <footer class="footer container page__footer">
        <div class="menu">
          <a href="mailto:me@maximpavlov.su">Электропочта</a>
          <a href="https://t.me/ifelseapps">Телеграмм</a>
          <a href="https://github.com/ifelseapps">Github</a>
        </div>
        <p class="footer__copyright">&copy;&nbsp;2014+ Максим Павлов</p>
      </footer>
    </div>
  </body>
</html>
