{% extends "layouts/default.njk" %}

{% block header_intro %}
  <div class="header-intro header__intro">
    <h1 class="header-intro__title">{{ title }}</h1>
    <p>Я занимаюсь разработкой интерфейсов для веб-приложений, веб-сервисов и сайтов. Я <mark>уделяю много внимания отзывчивости, скорости и доступности интерфейсов</mark>. Я умею <mark>строить дизайн-системы</mark> и наборы общих компонентов, из которых другие разработчики собирают интерфейсы как из конструктора Lego.</p>
    <p>Я делюсь знаниями с другими разработчиками, занимаюсь менторингом разработчиков различного уровня.</p>
  </div>
{% endblock header_intro %}
