{% extends "layouts/default.njk" %}

{% block content %}
<article class="post-detail">
  <header class="post-detail__header">
    <div class="post-date post-detail__date">{{ date | date }}</div>
    <h1>{{ title }}</h1>
  </header>
  {{ content | safe }}
  <footer>
    {% if tags %}
      <ul class="tags-list post-detail__tags">
        {% for tag in tags %}
          {% if tag != 'note' %}
            <li>
              <a class="tag-item" href="/tags/{{ tag }}/">
                {{ tag }}
                <span class="tag-item__count">{{ collections.tagsByFirstLetter.count[tag] }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    <div class="post-author post-detail__author">
      <p class="h h_lvl_3">Максим Павлов</p>
      <p>Занимается фридайвингом и&nbsp;подводной охотой, много путешествует. Интересуется иудаикой, еврейской историей и&nbsp;историей современного Государства Израиль. Изучает иврит и&nbsp;английский.</p>
      <p>Максим&nbsp;&mdash; профессиональный frontend-разработчик. Если вам нужно разработать интерфейс для сайта или веб-приложения&nbsp;&mdash; вам <a href="/frontend/">сюда</a>.</p>
      <p>
        <a class="button" href="/about/">Подробнее</a>
      </p>

    </div>
  </footer>
</article>
{% endblock content %}
