{% extends "layouts/default.njk" %}

{% block content %}
<article class="post-detail">
  <header class="post-detail__header">
    <div class="post-date post-detail__date">{{ date | date }}</div>
    <h1>{{ title }}</h1>
  </header>
  {{ content | safe }}
  <footer>
    {% if tags %}
      <ul class="post-tags-list post-detail__tags">
        {% for tag in tags %}
          {% if tag != 'note' %}
            <li>
              <a href="/tags/{{ tag }}/">#{{ tag }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    <div class="post-author post-detail__author">
      <p>Я разработчик интерфейсов с опытом 10+ лет. Сейчас работаю в команде сайта <a href="https://food.ru">food.ru</a>,
        а до этого был в команде <a href="https://profile.mts.ru">МТС Профиль</a>.</p>
      <p>Для HR'ов у меня есть <a href="/cv/">резюме</a>.</p>
    </div>
  </footer>
</article>
{% endblock content %}
