p {
  margin: 0.7em 0;
}

.content ul {
  margin: 1em 0 0;
}

.content li:not(:last-child) {
  margin-bottom: 0.6em;
}

.content a {
  color: inherit;
  font-weight: 500;
  transition: color 0.2s;
}

.content a:hover {
  color: var(--primary-a-700);
}

.content a:focus {
  outline: 0;
}

.keyboard-mode .content a:focus {
  box-shadow: 0 0 0 0.1em var(--primary-400);
}

@media screen and (max-width: 767px) {
  .content__row {
    margin: 0.8em 0;
  }

  .content__row_remark {
    font-size: 0.9em;
    padding: 0 1em;
  }
}

@media screen and (min-width: 768px) {
  p.content__row {
    margin: 0;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }

  .content__row {
    grid-column: 2 / 12;
  }

  .content__header {
    grid-column: 2 / 11;
  }

  .content__row_important {
    grid-column: 2 / 10;
    font-size: 2rem;
  }

  .content__row-full-width {
    grid-column: 1 / 13;
  }

  .content__row_remark {
    padding: 0.1em 0 0.1em 0.5em;
    border-left: solid 2px var(--primary-a-700);
    grid-column: 3 / 10;
  }
}
