:root {
  --background-color: #E8EAF6;
  --text-color: #263238;
  --primary-a-700: #2962FF;
  --primary-400: #42A5F5;
  --primary-100: #BBDEFB;
  --dark-900: #263238;
  --dark-200: #B0BEC5;
  --light: #FAFAFA;
}
