html {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: calc(15px + 0.25vw);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-gap: 1rem;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
}

.layout__header {
  padding-top: 1rem;
}

@media screen and (max-width: 1023px) {
  .layout {
    padding: 0 1rem;
  }
}
