<p>Я много путешествую на автомобиле по России. Под данным тегом я буду делиться заметками о поездках, маршрутами и другой полезной информацией. Я создал данный тег для того, чтобы показать другим — путешествовать на автомобиле очень интересно и доступно каждому у кого есть автомобиль.</p>
<p>Пишите мне на почту или в телеграмм по любым вопросам, связанным с автопутешествиями. Ссылки внизу страницы.</p>
