<p>Я много путешествую на автомобиле по России. Под данным тегом я буду <strong>делиться заметками о поездках, маршрутами и другой полезной информацией</strong>. Я создал данный тег для того, чтобы показать другим — путешествовать на автомобиле очень интересно и доступно каждому у кого есть автомобиль.</p>
<p>Пишите мне на почту или в телеграмм по любым вопросам, связанным с автопутешествиями. Ссылки внизу страницы.</p>
<p>Подписывайтесь <strong>на социальные сети проекта</strong>, чтобы всегда быть вкурсе наших поездок:</p>
<div class="menu">
  <a href="https://www.youtube.com/@maximisdriving" target="_blank">Youtube</a>
  <a href="https://t.me/maximisdriving" target="_blank">Telegram</a>
  <a href="https://vk.com/maximisdriving" target="_blank">VK</a>
</div>
