---
layout: layouts/default.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - note
permalink: /tags/{{ tag }}/
eleventyComputed:
  keywords: '{{ tag }}'
  title: '{{ tag | capitalize }}'
---

{% import "_posts.njk" as posts %}
{{ posts.list(collections[tag]) }}
