---
layout: layouts/default.njk
pagination:
  data: collections.tagsWithPagination
  size: 1
  alias: tag
permalink: tags/{{ tag.tagName }}/{{ (tag.pageNumber + 1) + "/" if tag.pageNumber }}
eleventyExcludeFromCollections: true
eleventyComputed:
  keywords: '{% if tags_settings.tag_page[tag.tagName] and tags_settings.tag_page[tag.tagName]["keywords"] %}{{ tags_settings.tag_page[tag.tagName]["keywords"] }}{% else %}{{ tag.tagName }}{% endif %}'
  description: '{% if tags_settings.tag_page[tag.tagName] and tags_settings.tag_page[tag.tagName]["description"] %}{{ tags_settings.tag_page[tag.tagName]["description"] }}{% endif %}'
  title: '{{ tag.tagName }}'
---

{% if tags_settings.tag_page[tag.tagName] and tags_settings.tag_page[tag.tagName]['content'] %}
  {% set content_template = ['tags/', tags_settings.tag_page[tag.tagName]['content']] | join %}
  <div class="tag-description">
    {% include content_template %}
  </div>
{% endif %}

{% import "_posts.njk" as posts %}
{{ posts.list((tag.templateObjets | reverse), collections.tagsByFirstLetter.count) }}

{% if tag.total > 1 %}
  <div class="pagination">
    {% if tag.previous %}
      <a href="{{ tag.previous }}">Назад</a>
    {% else %}
      <div class="pagination__disabled">Назад</div>
    {% endif %}

    {% if tag.next %}
      <a href="{{ tag.next }}">Вперед</a>
    {% else %}
      <div class="pagination__disabled">Вперед</div>
    {% endif %}
  </div>
{% endif %}
