---
title: Резюме
permalink: /cv/
---
<div class="cv-page">
  {% note %}
  <div class="properties">
    <div class="properties__property">
      <div class="properties__title">
        <div class="properties__title-wrapper">ФИО</div>
      </div>
      <div class="properties__value">Павлов Максим Александрович</div>
    </div>
    <div class="properties__property">
      <div class="properties__title">
        <div class="properties__title-wrapper">Местоположение</div>
      </div>
      <div class="properties__value">Россия, г.Ярославль  </div>
    </div>
    <div class="properties__property">
      <div class="properties__title">
        <div class="properties__title-wrapper">Позиция</div>
      </div>
      <div class="properties__value">senior frontend engineer</div>
    </div>
    <div class="properties__property">
      <div class="properties__title">
        <div class="properties__title-wrapper">Статус</div>
      </div>
      <div class="properties__value">ничего не ищу, просто хвастаюсь :)</div>
    </div>
    <div class="properties__property">
      <div class="properties__title">
        <div class="properties__title-wrapper">Удобный способ связи</div>
      </div>
      <div class="properties__value">email, <a href="mailto:ifelseapps@gmail.com">ifelseapps@gmail.com</a></div>
    </div>
  </div>
  {% endnote %}

  <h2>Что я умею?</h2>
  <ul>
    <li>Верстка интерфейсов сайтов и веб-приложений, кроссбраузерная и адаптивная</li>
    <li>Разработка SPA приложений на React</li>
    <li>Разработка и поддержка BFF (backend for frontend)</li>
    <li>SSR (server side rendering)</li>
  </ul>

  <h2>Технологии</h2>
  <ul class="techs">
    <li class="techs__item">HTML</li>
    <li class="techs__item">CSS</li>
    <li class="techs__item">JavaScript (ES5+)</li>
    <li class="techs__item">Pug (ex Jade)</li>
    <li class="techs__item">Sass</li>
    <li class="techs__item">Less</li>
    <li class="techs__item">Stylus</li>
    <li class="techs__item">NodeJs</li>
    <li class="techs__item">ExpressJs</li>
    <li class="techs__item">React</li>
    <li class="techs__item">NextJs</li>
    <li class="techs__item">Redux</li>
    <li class="techs__item">Redux thunks</li>
    <li class="techs__item">Redux saga</li>
    <li class="techs__item">Redux toolkit</li>
    <li class="techs__item">Effector</li>
    <li class="techs__item">Styled components</li>
    <li class="techs__item">Gulp</li>
    <li class="techs__item">Webpack</li>
    <li class="techs__item">TypeScript</li>
    <li class="techs__item">Jest</li>
    <li class="techs__item">Enzyme</li>
    <li class="techs__item">Storybook</li>
    <li class="techs__item">jQuery</li>
    <li class="techs__item">БЭМ</li>
    <li class="techs__item">Docker</li>
    <li class="techs__item">Git</li>
  </ul>

  <h2>Опыт работы</h2>
  <ul class="timeline">
    <li class="timeline__item timeline__item_key">
      <div class="timeline-item">
        <div class="timeline-item__period">Сентябрь 2023 — н.в.</div>
        <div class="timeline-item__title"><a href="https://x5.ru">X5 Group</a>, senior frontend engineer</div>
        <div class="timeline-item__details">
          <p>Работаю в команде сайта <a href="https://food.ru">food.ru</a>.</p>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">TypeScript</li>
            <li class="techs__item">NextJs</li>
            <li class="techs__item">React</li>
            <li class="techs__item">Effector</li>
            <li class="techs__item">Sass</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">Март 2023 — сентябрь 2023</div>
        <div class="timeline-item__title"><a href="https://loodsen.ru">ООО &laquo;Лоция&raquo;</a>, middle backend engineer</div>
        <div class="timeline-item__details">
          <ul>
          <li>Разработал микросервис &laquo;Калькулятор страхования&raquo; (интеграция с API <a href="https://www.ingos.ru">&laquo;Ингосстрах&raquo;</a>)</li>
            <li>Доработал административные разделы в CMS &laquo;1С-Битрикс&raquo;</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">PHP</li>
            <li class="techs__item">MySQL</li>
            <li class="techs__item">Docker</li>
            <li class="techs__item">Laravel</li>
            <li class="techs__item">Orchid</li>
            <li class="techs__item">1С-Битрикс</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item timeline__item_key">
      <div class="timeline-item">
        <div class="timeline-item__period">Март 2021 — декабрь 2022</div>
        <div class="timeline-item__title"><a href="https://mts.ru">ООО «МТС Диджитал»</a>, senior frontend engineer</div>
        <div class="timeline-item__details">
          <p>Работал в распределенной команде, которая разрабатывает
            <a href="https://profile.mts.ru" target="_blank">МТС Профиль</a>
            (это что-то вроде Яндекс.Паспорт, только в экосистеме МТС).</p>
          <ul>
            <li>Принял участие в масштабном редизайне проекта</li>
            <li>Перевел проект на TypeScript</li>
            <li>Внедрил модульное тестирование на проекте</li>
            <li>Разработал несколько крупных модулей</li>
            <li>Был релиз-мастером (подготовка релиза, управление скоупом задач в релизе, дежурство в день релиза)</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">TypeScript</li>
            <li class="techs__item">NextJs</li>
            <li class="techs__item">React</li>
            <li class="techs__item">Redux</li>
            <li class="techs__item">Redux toolkit</li>
            <li class="techs__item">Styled components</li>
            <li class="techs__item">Jest</li>
            <li class="techs__item">Enzyme</li>
            <li class="techs__item">Storybook</li>
            <li class="techs__item">NodeJs</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">Декабрь 2020 — март 2021</div>
        <div class="timeline-item__title"><a href="https://www.soft-division.ru/">ООО «Софт дивижн»</a>, senior frontend engineer</div>
        <div class="timeline-item__details">
          <ul>
            <li>Принял участие в разработке системы управления безопасностью</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">VueJs</li>
            <li class="techs__item">NodeJs</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item timeline__item_key">
      <div class="timeline-item">
        <div class="timeline-item__period">Май 2019 — октябрь 2020</div>
        <div class="timeline-item__title">ООО «Норд софт», senior frontend engineer</div>
        <div class="timeline-item__details">
          <ul>
            <li>Разработал несколько автоматизированных рабочих мест для медицинской информационной системы</li>
            <li>Разработал фреймворк на базе react для построения интерфейсов на основе вкладок и помог внедрить его в несколько проектов</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">TypeScript</li>
            <li class="techs__item">React</li>
            <li class="techs__item">Redux</li>
            <li class="techs__item">Redux-saga</li>
            <li class="techs__item">Emotion</li>
            <li class="techs__item">Antd</li>
            <li class="techs__item">Sass</li>
            <li class="techs__item">Angular</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">Май 2018 — май 2019</div>
        <div class="timeline-item__title"><a href="https://fogsoft.ru">ООО «ФогСофт»</a>, frontend engineer</div>
        <div class="timeline-item__details">
          <ul>
            <li>Дорабатывал и поддерживал клиентскую часть нескольких проектов</li>
            <li>Принял участие в редизайне одного из проектов, декомпозировал интерфейс на переиспользуемые блоки</li>
            <li>Участвовал в разработке дизайн-системы</li>
            <li>Выполнял функцию ментора для начинающих разработчиков</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">TypeScript</li>
            <li class="techs__item">React</li>
            <li class="techs__item">Redux</li>
            <li class="techs__item">jQuery</li>
            <li class="techs__item">Sass</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">Ноябрь 2016 — апрель 2018</div>
        <div class="timeline-item__title"><a href="https://arealidea.ru">ООО «Ареал идея»</a>, software engineer</div>
        <div class="timeline-item__details">
          <ul>
            <li>Принял участие в разработке crm-системы для заказчика из финансового сектора в качестве full Stack разработчика</li>
            <li>Реализовал несколько переиспользуемых компонентов интерфейса в виде jquery-плагинов</li>
            <li>Разработал ui-киты для проектов, из которых бэкенд-разработчики собирали интерфейсы</li>
            <li>Выполнял функцию ментора для начинающих разработчиков</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">PHP</li>
            <li class="techs__item">MySQL</li>
            <li class="techs__item">1С-Битрикс</li>
            <li class="techs__item">TypeScript</li>
            <li class="techs__item">jQuery</li>
            <li class="techs__item">React</li>
            <li class="techs__item">Sass</li>
            <li class="techs__item">БЭМ</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">Май 2015 — ноябрь 2016</div>
        <div class="timeline-item__title"><a href="https://teamprofi.ru">ООО «ТимПрофи»</a>, software engineer</div>
        <div class="timeline-item__details">
          <ul>
            <li>Принял участие в разработке и поддержке нескольких крупных интернет-магазинов</li>
            <li>Разработал модуль для покупки билетов в театр, а также интерфейс кассира и интегрировал их с Интернет-магазином</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">PHP</li>
            <li class="techs__item">MySQL</li>
            <li class="techs__item">1С-Битрикс</li>
            <li class="techs__item">jQuery</li>
            <li class="techs__item">Sass</li>
            <li class="techs__item">БЭМ</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">Май 2014 — апрель 2015</div>
        <div class="timeline-item__title"><a href="https://idid.ru">IDID</a>, программист 1С-Битрикс</div>
        <div class="timeline-item__details">
          <ul>
            <li>Принял участие в разработке нескольких Интернет-магазинов на 1С-Битрикс</li>
            <li>Выполнял функции менеджера проектов, а позднее стал директором Ярославского филиала</li>
          </ul>
          <p>Технологии:</p>
          <ul class="techs">
            <li class="techs__item">PHP</li>
            <li class="techs__item">MySQL</li>
            <li class="techs__item">1С-Битрикс</li>
            <li class="techs__item">jQuery</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <h2>Образование</h2>
  <ul class="timeline">
    <li class="timeline__item">
      <div class="timeline-item">
        <div class="timeline-item__period">2005 — 2010 гг.</div>
        <div class="timeline-item__title">НОУ ВПО &laquo;Московская академия предпринимательства при Правительстве Москвы&raquo;, специальность &laquo;Финансы и кредит&raquo;</div>
      </div>
    </li>
  </ul>
</div>
