---
title: Добро пожаловать на сайт Максима Павлова
hide_h1: true
---

<p class="h h_lvl_1">Привет!</p>
<h1 class="visually-hidden">{{ title }}</h1>
<p>Меня зову Максим. Мне 35&nbsp;лет, я&nbsp;живу в&nbsp;Ярославле. Занимаюсь фридайвингом и&nbsp;подводной охотой. Много путешествую. Я&nbsp;делюсь своими впечатлениями о&nbsp;путешествиях на&nbsp;автомобиле с&nbsp;помощью проекта <a href="https://maximisdriving.com" target="_blank">&laquo;Максим рулит&raquo;</a>.</p>
<p>У&nbsp;меня еврейские корни и&nbsp;я&nbsp;интересуюсь иудаикой, еврейской историей&nbsp;и&nbsp;современной историей Государства Израиль. Изучаю иврит и&nbsp;английский.</p>
<p>По&nbsp;профессии я&nbsp;программист и&nbsp;зарабатываю на&nbsp;жизнь <a href="/frontend/">frontend-разработкой</a> (разработкой веб-интерфейсов).</p>
<p>Данный сайт посвящен моим интересам и&nbsp;увлечениям. Раньше он&nbsp;целиком был посвящен frontend-разработке. Но&nbsp;однажды я&nbsp;понял, что не&nbsp;хочу больше писать только о&nbsp;работе, т.к.&nbsp;у&nbsp;меня очень интересная жизнь и&nbsp;за&nbsp;пределами работы. Часть старых материалов удалена безвозвратно, другая часть&nbsp;&mdash; переехала в&nbsp;<a href="/archive/">архив</a>.</p>
<p>Вся информация о&nbsp;моей профессиональной деятельности (в&nbsp;т.ч. стек технологий, опыт работы и&nbsp;рекомендации) переехала на&nbsp;страницу <a href="/frontend/">&laquo;frontend-разработка&raquo;</a>.</p>
<p>Я&nbsp;всегда рад новым знакомствам с&nbsp;интересными людьми. Пишите на&nbsp;почту или в&nbsp;телеграм (ссылки внизу страницы).</p>
<p><em>Максим Павлов, 20 октября 2024 г.</em></p>
