---
title: Главная страница
---
{% block custom_head %}
  <link rel="stylesheet" href="{{ "/css/home.css" }}" />
{% endblock %}

<div class="home-page">
  <div class="home-page__common">
    <div class="home-page__column">
      <picture>
        <source srcset="/assets/images/photo.webp" type="image/webp">
        <source srcset="/assets/images/photo.jpg" type="image/jpeg">
        {% image "src/assets/images/photo.jpg", "Моя фотография" %}
      </picture>
      <p>Привет🫡 Меня зовут Максим, мне 35 лет и я <em>фронтенд-разработчик</em>
        (хотя, я предпочитаю называть свою профессию <em>«разработчик интерфейсов»</em>).</p>
      <p>Сейчас я работаю в команде сайта <a href="https://food.ru">food.ru</a>, а до этого делал с командой <a href="https://profile.mts.ru">МТС Профиль</a>.</p>
      <p>Я занимаюсь профессиональной веб-разработкой 10+ лет, но первые сайты я начал делать еще в начале нулевых. У меня есть опыт поддержки IE6+, верстки таблицами и использования png-спрайтов. Я начинал как full stack-разработчик, но вскоре с головой ушел во фронтенд.
        Поэтому я хорошо понимаю как устроены веб-приложения в целом, а не только их клиентская часть.</p>
    </div>
    <div class="home-page__column">
      <section class="home-page__section">
        <h2>Использую в работе</h2>
        <ul class="techs">
          <li class="techs__item">TypeScript</li>
          <li class="techs__item">React</li>
          <li class="techs__item">Redux</li>
          <li class="techs__item">Redux toolkit</li>
          <li class="techs__item">Effector</li>
          <li class="techs__item">NodeJs</li>
          <li class="techs__item">NextJs</li>
          <li class="techs__item">Sass</li>
          <li class="techs__item">Webpack</li>
        </ul>
        <p>Подробнее можно узнать в <a href="/cv/">резюме</a>.</p>
      </section>
      <div class="channel-banner home-page__section">
        Подписывайтесь на мой канал в Telegram <strong>&laquo;Frontend с человеческим лицом&raquo;</strong>
        <div class="channel-banner__subscribe">
          <a class="button" href="https://t.me/frontend_dev_channel" target="_blank">Перейти на канал</a>
        </div>
      </div>
      <section class="home-page__section">
        <h2>Чем я могу быть полезен?</h2>
        <ul>
          <li>Разработка интерфейсов «под ключ». Я <mark>превращу ваши идеи в работающий сайт/веб приложение;</mark></li>
          <li>Разработка и внедрение дизайн-системы. Совместно с вашим дизайнером выделю и <mark>имплементирую готовые блоки из которых ваши разработчики смогут собирать новые фичи как из конструктора Lego;</mark></li>
          <li>Аудит клиентской части вашего сайта или веб-приложения;</li>
          <li>Консультирование в пределах моих компетенций;</li>
          <li>Менторинг разработчиков различного уровня.</li>
        </ul>
      </section>
    </div>
  </div>
  <section class="reviews">
    <h2>Отзывы</h2>
    <p>За мою карьеру мне повезло работать с замечательными людьми. Ниже представлены отзывы некоторых из моих коллег о работе со мной.</p>
    <div class="reviews__items">
      <article class="review">
        <h1 class="h h_lvl_3 review__name">Артем Аюпов</h1>
        <p class="review__role">Product owner команды <a href="https://profile.mts.ru">МТС Профиль</a></p>
        <p>Максим отличный разработчик senior уровня. В нашей команде он был самым результативным, порой за спринт выполняя столько задач, сколько другие выполняли за месяц. Так что считаю его не только опытным разработчиком, но так же высокоэффективным!<p>
      </article>
      <article class="review">
      <h1 class="h h_lvl_3 review__name">Максим Лаптев</h1>
      <p class="review__role">CTO студии <a href="https://teamprofi.ru">TeamProfi</a></p>
      <p>Максим пришел ко мне еще junior-разработчиком и сразу стал выделяться тем, что ставил качество продукта и кодовой базы превыше всего. Он всегда старался писать код, который легко поддерживать и масштабировать.</p>
      </article>
    </div>
  </section>
</div>
