---
title: Отзывы
permalink: /reviews/
---
<div class="reviews">
  <p>За мою карьеру мне повезло работать с замечательными людьми. Ниже представлены отзывы некоторых из моих коллег о работе со мной.</p>
  <div class="reviews__items">
    <article class="review">
      <h1 class="h h_lvl_3 review__name">Артем Аюпов</h1>
      <p class="review__role">Product owner команды <a href="https://profile.mts.ru">МТС Профиль</a></p>
      <p>Максим отличный разработчик senior уровня. В нашей команде он был самым результативным, порой за спринт выполняя столько задач, сколько другие выполняли за месяц. Так что считаю его не только опытным разработчиком, но так же высокоэффективным!<p>
    </article>
    <article class="review">
      <h1 class="h h_lvl_3 review__name">Дмитрий Вологжанин</h1>
      <p class="review__role">Системный аналитик команды <a href="https://profile.mts.ru">МТС Профиль</a></p>
      <p>Мне очень нравился подход Максима к работе. Он очень качественно и обдуманно выполнял задачи, а не просто делал так, как написано в задаче. Все задачи он закрывал в срок. Максим всегда был  проактивен и внимателен к деталям. С его помощью нам удалось внедрить множество прекрасных фичей.</p>
    </article>
    <article class="review">
      <h1 class="h h_lvl_3 review__name">Виталий Фурманец</h1>
      <p class="review__role">Fullstack-разработчик компании <a href="https://fogsoft.ru">FogSoft</a></p>
      <p>Я познакомился с Максимом на своей первой работе, когда был еще зеленым Junior разработчиком, Максим стал для меня проводником в мир фронтенда т.к. стал моим наставником. Очень доступно объяснил мне азы JavaScript, научил работать с html и css. Всегда подсказывал и помогал разбираться с моими проблемами в задачах. Повезло что попал к Максиму!</p>
    </article>
    <article class="review">
    <h1 class="h h_lvl_3 review__name">Максим Лаптев</h1>
    <p class="review__role">CTO студии <a href="https://teamprofi.ru">TeamProfi</a></p>
    <p>Максим пришел ко мне еще junior-разработчиком и сразу стал выделяться тем, что ставил качество продукта и кодовой базы превыше всего. Он всегда старался писать код, который легко поддерживать и масштабировать.</p>
    </article>
  </div>
</div>
