@import 'mixins';

.timeline {
  border-left: 1px solid #9e9e9e;
  list-style: none;
  margin: 0;
  padding: 1em 0;
  position: relative;
  width: 100%;
}

.timeline__item {
  padding: 0 2em;
  position: relative;
}

.timeline__item:not(:last-child) {
  margin-bottom: 3em;
}

.timeline__item:after,
.timeline__item:before {
  border-radius: 100%;
  content: '';
  left: -0.5px;
  position: absolute;
  top: 0.9rem;
  transform: translate(-50%, -50%);
}

.timeline__item:before {
  background: #424242;
  height: 8px;
  width: 8px;
  z-index: 1;
}

.timeline__item:after {
  background: #fafafa;
  border: 2px solid #424242;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
}

.timeline__item_key:before {
  background: #ff8f00;
}

.timeline__item_key:after {
  border-color: #ff8f00;
}

.timeline-item__period {
  color: #757575;
}

.timeline-item__title {
  margin: 0.4em 0;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 700;
}

.timeline-item__details {
  margin-top: 1.5em;
}

.cv-page .note {
  display: flex;
  flex-direction: column;
  @include media(lg) {
    display: inline-flex;
  }
}
