@import 'mixins';

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__footer {
  margin-top: auto;
}

.container {
  padding: 0 1em;
  @include media(lg) {
    max-width: 1400px;
    padding: 0 20em 0 10em;
    box-sizing: border-box;
  }
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
}

.header__name {
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.3s;
  &:hover {
    color: #ff3d00;
  }
}

.header__menu {
  margin-top: 0.4em;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.6em;
  list-style: none;
}

.menu_theme_years .menu__item_selected {
  padding: 0 2px;
  background-color: #ffecb3;
}

.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.9rem;
}

.footer__copyright {
  margin-top: 0.8em;
  color: #757575;
}
