@import 'mixins';

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__header_filled {
  margin-bottom: 6em;
}

.page__footer {
  margin-top: auto;
  padding-top: 2em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  @include media(lg) {
    max-width: 1400px;
    padding-right: 20rem;
    padding-left: 10rem;
    box-sizing: border-box;
  }
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
}

.header_filled {
  background: #212121;
  color: #fff;
}

.header_filled .header__name {
  color: #fff;
}

.header__name {
  font-weight: 700;
  transition: color 0.3s;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: #c00;
  }
}

.header__menu {
  margin-top: 0.4em;
}

.header__intro {
  margin-top: 2em;
}

.header-intro {
  @include media(md) {
    font-size: 1.2em;
  }
}

.header-intro__title {
  line-height: 1em;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  list-style: none;
  line-height: 1em;
}

.header_filled .menu__item {
  color: #81d4fa;
  text-decoration-color: rgba(#01579b, 0.6);
}

.menu__item_selected {
  font-weight: 700;
  text-decoration: none;
}

.menu__item_frontend,
.header_filled .menu__item_frontend {
  color: #f57c00;
  text-decoration-color: #ffe0b2;
}

.menu_theme_years .menu__item_selected {
  padding: 0 2px;
  font-weight: 400;
  background-color: #ffecb3;
}

.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.9rem;
}

.footer__copyright {
  margin-top: 0.8em;
  color: #757575;
}

.landing-content {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.techs-section__legend {
  justify-content: center;
  margin-top: 1em;
}

.reviews-section__intro {
  margin-bottom: 3em;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.error-404 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.error-404__picture {
  display: flex;
  justify-content: center;
}

.error-404__picture img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.error-404__go-to-main {
  margin-top: 2em;
}
