@import 'mixins';

.posts-list {
  margin: 0.9em 0 0;
  padding: 0;
  list-style: none;
}

.post-item {
  display: flex;
  align-items: center;
  gap: 0.6em;
  &:not(:last-child) {
    margin-bottom: 0.8em;
  }
}

.post-item__date {
  color: #757575;
}
