.top-bar {
  font-size: 12px;
  background-color: #f5f5f5;
  color: #424242;
}

.top-bar_landing {
  background-color: rgba(#000, 0.82);
  color: #fff;
}

.top-bar__inner {
  display: flex;
  gap: 2em;
  max-width: 100%;
  overflow-x: auto;
}

.top-bar__item {
  position: relative;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translate(50%, -50%);
    width: 0.25em;
    height: 0.25em;
    border-radius: 100%;
    background-color: #616161;
  }
}

.top-bar_landing .top-bar__item::after {
  background-color: #eeeeee;
}

.top-bar_landing .top-bar__item:not(.top-bar__item_current) {
  color: #81d4fa;
  text-decoration-color: rgba(#01579b, 0.6);
}

.top-bar__item_current {
  font-weight: 700;
}
