@import 'mixins';
@import 'fonts';
@import 'layout';
@import 'posts';
@import 'cv';
@import 'top-bar';
@import 'prism';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PTSans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #fafafa;
  @include media(md) {
    font-size: 18px;
  }
  @include media(lg) {
    font-size: 20px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  color: #05c;
  text-decoration: underline;
  text-decoration-color: rgba(0, 85, 204, 0.15);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
  transition:
    color 0.3s,
    text-decoration-color 0.3s;
  &:hover {
    color: #c00 !important;
    text-decoration-color: rgba(204, 0, 0, 0.35) !important;
  }
}

.page__content a {
  &[href^='http'],
  &[href^='https'] {
    &:not(.button) {
      transition:
        background-color 0.3s,
        text-decoration-color 0.3s;
      &::before {
        position: relative;
        display: inline-block;
        vertical-align: baseline;
        top: 3px;
        margin-right: 2px;
        content: url(/assets/images/external.svg);
        width: 1em;
        height: 1em;
      }
      &:hover {
        color: #2962ff;
        background-color: #ffecb3;
        text-decoration-color: transparent;
      }
    }
  }
  &:visited,
  &:visited:hover {
    &:not(.menu a):not(.button) {
      color: rgb(92, 138, 201);
      text-decoration-color: rgba(92, 138, 201, 0.2);
    }
  }
}

h1,
h2,
h3,
h4,
.h {
  margin: 0 0 0.6em 0;
  font-weight: 700;
  line-height: 1.2em;
}

h1,
.h_lvl_1 {
  font-size: 2.2em;
}

h2,
.h_lvl_2 {
  font-size: 1.8em;
}

h3,
.h_lvl_3 {
  font-size: 1.2em;
}

h4,
.h_lvl_4 {
  font-size: 1em;
}

h2,
h3,
h4,
.h_lvl_2,
.h_lvl_3,
.h_lvl_4 {
  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

p {
  margin: 0;
  &:not([class]) {
    margin: 1em 0;
    line-height: 1.4em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul:not([class]) li::marker {
  color: #ff8f00;
}

ul ul {
  list-style-type: disc;
}

.image,
.page__content img {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.eleventy-plugin-youtube-embed {
  margin: 1em 0;
}

.blockquote {
  margin: 1em 0;
  padding: 0.5em 3em 0.5em 1em;
  border-left: solid 4px #ffea00;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-style: italic;
  background-color: #fffde7;
  color: #4e342e;
}

.blockquote p {
  margin: 0.2em 0;
}

.blockquote__footer {
  text-align: right;
  font-size: 1rem;
  font-style: normal;
}

.figure {
  max-width: 600px;
  margin: 2em auto;
}

.figure__caption {
  margin-top: 0.8em;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: #757575;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: dashed #757575 1px;
}

.tag-count {
  font-size: 0.9rem;
  color: #757575;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 1em;
  text-align: left;
  border: solid 1px #e9f0f8;
}

p code,
li code,
td code,
figure code {
  padding: 0.1em 0.2em;
  background-color: #e9f0f8;
  color: #2969b9;
}

pre code {
  padding: 0;
  background-color: transparent;
}

mark {
  background: linear-gradient(#ffee58, #ffeb3b);
  color: #212121;
}

.note {
  margin: 1em 0;
  padding: 1em 2em;
  background-color: #e9f0f8;
  color: #2969b9;
}

p:empty {
  display: none;
}

.techs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  list-style: none;
  font-size: 0.8em;
  line-height: 1em;
  user-select: none;
}

.techs__item {
  padding: 0.4em 0.6em;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  color: #757575;
}

.techs__item_main {
  background: linear-gradient(#ffee58, #ffeb3b);
  color: #212121;
  border: none;
}

.properties {
  display: inline-flex;
  flex-direction: column;
}

.properties__property {
  &:not(:last-child) {
    margin-bottom: 0.6em;
  }
  @include media(lg) {
    position: relative;
    display: inline-flex;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: dotted 1px #757575;
    }
  }
}

.properties__title {
  margin-bottom: 0.2em;
  font-weight: 700;
  @include media(md) {
    width: 300px;
    flex: none;
    margin-bottom: 0;
  }
}

.properties__title-wrapper {
  @include media(lg) {
    position: relative;
    display: inline-block;
    padding-right: 0.1em;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e9f0f8;
      z-index: 1;
    }
  }
}

.properties__value {
  font-style: italic;
  @include media(lg) {
    position: relative;
    padding-left: 0.1em;
    flex: auto;
    white-space: nowrap;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e9f0f8;
      z-index: 1;
    }
  }
}

.button {
  display: inline-flex;
  margin-bottom: 0.2em;
  padding: 0.4em 0.8em;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ffc107;
  color: #212121;
  transition:
    0.3s background-color,
    0.3s transform;
  &:hover,
  &:visited {
    color: #212121 !important;
  }
  &:hover {
    background-color: #ffd54f;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.review {
  font-size: 1.15em;
}

.page__content .review__name {
  margin-bottom: 0.2em;
}

.review__role {
  color: #757575;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  font-size: 0.95rem;
  line-height: 1em;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.legend-item__color {
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
}
