@import 'mixins';
@import 'fonts';
@import 'layout';
@import 'posts';
@import 'prism';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PTSans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  line-height: 1em;
  color: #05c;
  text-decoration: underline;
  text-decoration-color: rgba(0, 85, 204, 0.15);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
  transition:
    color 0.3s,
    text-decoration-color 0.3s;
  &:hover {
    color: #c00;
    text-decoration-color: rgba(204, 0, 0, 0.35);
  }
}

.page__content a {
  &[href^='http'],
  &[href^='https'] {
    transition:
      background-color 0.3s,
      text-decoration-color 0.3s;
    &::before {
      position: relative;
      display: inline-block;
      vertical-align: baseline;
      top: 3px;
      margin-right: 2px;
      content: url(/assets/images/external.svg);
      width: 1em;
      height: 1em;
    }
    &:hover {
      color: #2962ff;
      background-color: #ffecb3;
      text-decoration-color: transparent;
    }
  }
}

.page__content h1,
.page__content h2,
.page__content h3 {
  margin: 0 0 0.6em 0;
  font-weight: 700;
  line-height: 1.2em;
}

.page__content h1 {
  font-size: 3rem;
}

.page__content h2 {
  font-size: 1.6rem;
}

.page__content h3 {
  font-size: 1.2rem;
}

.page__content h2,
.page__content h3 {
  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

p {
  margin: 0;
  &:not([class]) {
    margin: 1em 0;
  }
}

.image,
.page__content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.eleventy-plugin-youtube-embed {
  margin: 1em 0;
}

.blockquote {
  margin: 1em 0;
  padding: 0.5em 3em 0.5em 1em;
  border-left: solid 4px;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-style: italic;
}

.blockquote p {
  margin: 0.2em 0;
}

.blockquote__footer {
  text-align: right;
  font-size: 1rem;
  font-style: normal;
}

.figure {
  margin: 2em 0;
}

.figure__caption {
  margin-top: 0.8em;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: #757575;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: dashed #757575 1px;
}

.tag-count {
  font-size: 0.9rem;
  color: #757575;
}

p code,
li code,
figure code {
  padding: 0.1em 0.2em;
  background-color: rgba(233, 240, 248, 0.55);
  color: #2969b9;
}

mark {
  background-color: #e3f2fd;
}

.note {
  margin: 1em 0;
  padding: 1em 2em;
  background-color: rgba(233, 240, 248, 0.55);
  color: #2969b9;
}

p:empty {
  display: none;
}
