@import 'mixins';

.home-page {
  @include media(xl) {
    display: flex;
    gap: 2em;
  }
}

.home-page__column {
  @include media(xl) {
    width: 50%;
  }
}

.home-page__section {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.channel-banner {
  padding: 0.8em 1em;
  border-radius: 5px;
  background-color: #ffecb3;
}

.channel-banner__subscribe {
  display: flex;
  margin-top: 0.5em;
}
