@import 'mixins';

.home-page {
  @include media(xl) {
    display: flex;
    gap: 2em;
  }
}

.home-page__column {
  @include media(xl) {
    width: 50%;
  }
}

.home-page__section {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}
