@import 'mixins';

.home-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.home-page__common {
  @include media(xl) {
    display: flex;
    gap: 2em;
  }
}

.home-page__column {
  @include media(xl) {
    width: 50%;
  }
}

.home-page__section {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.home-page__review {
  margin: 1.5em 0 6em;
  @include media(md) {
    margin: 1.5em -1em 6em;
  }
}

.subscribe-banner {
  padding: 0.8em 1em;
  border-radius: 5px;
  background-color: #ffecb3;
}

.subscribe-banner__channel-btn {
  display: flex;
  margin-top: 0.5em;
}

.subscribe-banner__rss {
  margin-top: 0.8em;
}

.review-main {
  padding: 1em;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
}

.review-main__text {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.review-main__author {
  font-size: 0.8em;
}

.review-main__more {
  margin-top: 1em;
}

.home-page-intro {
  @include media(md) {
    font-size: 1.2em;
  }
}

.home-page-intro__title {
  line-height: 1em;
}
