.layout__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  background: var(--dark-900);
  color: var(--light);
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .layout__footer {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .layout__footer {
    padding: 2rem 3rem;
  }
}
